@use 'styles/mixins' as mixins;
@use 'styles/variables/globals' as globalVariables;
@use 'styles/variables/colors' as colors;

.header {
  padding: 1rem 0;
  background-color: colors.$body-bg-color;

  &.scrolled {
    @include mixins.box-shadow-base;

    position: sticky;
    top: 0;
    transition: box-shadow 0.3s ease-out;
    z-index: globalVariables.$z-index-3;
  }

  .inner-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1.5rem;

    ul {
      padding: 0;
    }

    a {
      text-decoration: none;
    }
  }
}
