@use 'sass:map';

$sm-min: 0; // mobile
$md-min: 460px; // large mobile
$lg-min: 760px; // tablet
$lg-max: 992px; // desktop

$breakpoints-min: (
  sm: $sm-min,
  md: $md-min,
  lg: $lg-min,
);

$breakpoints-max: (
  sm: $md-min - 1px,
  md: $lg-min - 1px,
  lg: 992px,
);
