@use 'sass:map';

$sm-min: 0; // mobile
$md-min: 640px; // tablet
$lg-min: 960px; // desktop
$xl-min: 1140px;

$breakpoints-min: (
  sm: $sm-min,
  md: $md-min,
  lg: $lg-min,
  xl: $xl-min,
);

$breakpoints-max: (
  sm: $md-min - 1px,
  md: $lg-min - 1px,
  lg: $xl-min - 1px,
  xl: 100%,
);
