// colors

$teal: #227c70;
$navy: #1c315e;
$blue-zodiac: #101f40;
$white: #ffffff;
$black: #000000;
$gray-1: #f3f3f3;
$gray-2: #f4f4f4;
$gray-3: #343434;

$colors: (
  teal: $teal,
  navy: $navy,
  blue-zodiac: $blue-zodiac,
  white: $white,
  black: $black,
  gray-1: $gray-1,
  gray-2: $gray-2,
  gray-3: $gray-3,
);

$body-bg-color: $white;

// brand colors
$primary: $teal;
$secondary: $navy;
$light: $white;
$dark: $blue-zodiac;

$brand-colors: (
  primary: $primary,
  secondary: $secondary,
  light: $light,
  dark: $dark,
);

// dynamic utility classes
@each $key, $value in $brand-colors {
  .color-#{$key} {
    color: #{$value} !important;
  }

  .bg-#{$key} {
    background-color: #{$value} !important;
  }
}
