@use './globals' as vars;
@use './fonts' as fonts;
@import '@/styles/mixins';

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-weights: (
  normal: $font-weight-normal,
  medium: $font-weight-medium,
  semibold: $font-weight-semibold,
  bold: $font-weight-bold,
);

$h1-font-size: vars.$base-font-size * 2; // 32px
$h2-font-size: vars.$base-font-size * 1.5; // 24px
$h3-font-size: vars.$base-font-size * 1.125; //18px

$headings: (
  h1: $h1-font-size,
  h2: $h2-font-size,
  h3: $h3-font-size,
);

$text-transforms: (none, capitalize, uppercase, lowercase, initial, inherit);

@each $value in $text-transforms {
  .text-#{$value} {
    text-transform: #{$value};
  }
}

h1,
h2,
h3,
h4 {
  font-family: fonts.$font-family-heading;
}

h1 {
  letter-spacing: -3.5;

  @include media-down(sm) {
    font-size: 3.75rem; // 60px
  }

  @include media-up(md) {
    font-size: 6rem; // 96px
  }
}

h2 {
  @include media-down(sm) {
    font-size: 3rem; // 48px
    letter-spacing: 0;
  }

  @include media-up(md) {
    font-size: 3.75rem; // 60px
    letter-spacing: -3.5;
  }
}

h3 {
  @include media-down(sm) {
    font-size: 2.125rem; // 34px
    letter-spacing: 0.25;
  }

  @include media-up(md) {
    font-size: 3rem; // 48px
    letter-spacing: 0;
  }
}

h4 {
  letter-spacing: 0.25;

  @include media-down(sm) {
    font-size: 1.375rem; //22px
  }

  @include media-up(md) {
    font-size: 2.125rem; // 34px
  }
}

p {
  letter-spacing: 0.031em;
  line-height: 1.75;

  &.lead {
    font-size: 1.125rem; // 18px
    line-height: 2rem;
    letter-spacing: 0.02rem;
  }
}
